[2014-05-03 00:06] alexyma opened #1 "idInjection not working"
I set idInjection option to false and the mssql still creates an id PK field.

[2014-07-30 01:46] johnsoftek opened #7 "Cannot create SQL Server table with a character key"
I cannot create a SQL Server table with a character key using automigrate. It works fine with a MySQL datasource. LoopBack 2.0.2, loopback-connector-mssql 1.1.0

[code]

I have tried several variations on the above without success.

The automigrate code in mssql.js calls the propertiesSQL function. The column identified as the key is always generated as an int identity column.

[code]

[2014-08-14 23:27] alexyma opened #8 "loopback modules compatibilities"
loopback2.1.2 and loopback-connector-mssql require different versions of loopback-datasource-juggler as peer dependencies.

npm ERR! peerinvalid The package loopback-datasource-juggler does not satisfy it
s siblings' peerDependencies requirements!
npm ERR! peerinvalid Peer loopback@2.1.2 wants loopback-datasource-juggler@^2.0.
0
npm ERR! peerinvalid Peer loopback-connector-mssql@1.0.1 wants loopba

[2014-08-20 02:42] aams opened #9 "Security hole - auth token is simple integer"
The AccessToken table is created with an auto-increment integer. So session authorization tokens are 1, 2, 3 etc.

Any one can use /explorer or curl to try tokens from 1 upwards until a valid token is found.

[2014-08-23 21:59] DieterReuter opened #10 "Connecting to Azure SQL Server shows SQL errors while creating tables"
I'm not able to use a Azure SQL database and I'm running into some strange errors. After some debugging and testing I'm now able to successfully connect to the database, but now I'm getting SQL errors while creating the database tables.

Here are my improvements so far:
**Part 1:** enable encryption, this is mandatory for Azure. Without encryption there's no chance to connect to the database, and

[2014-08-26 20:27] #10 closed, assigned to nobody

[2014-11-14 05:34] Jeff-Lewis opened #12 "Models generated use actual Column name, not valid camel cased Class properties"
Before I assume this is an issue, is Loopback intending that Models/objects in javascript have camel cased properties and these properties are translated to their corresponding columns names  provided by the model's definition schema? If so, I don't believe this work properly for the mssql connector.

Most if not all of mssql.js code gets the actual column names from the Model's property keys. See

[2014-11-20 21:05] ackerdev opened #13 "Filter for NULL?"
I don't see any way to filter for NULL/not NULL columns. Am I missing something? Is this functionality planned?

[2014-12-17 08:05] edokan opened #17 "INFORMATION_SCHEMA vs information_schema"
Hi,

In Turkish, lowercase I is not i, so on discovery.js, queries using "information_schema" fails. I tried changing to INFORMATION_SCHEMA, and it seems working.

Please see "Turkey Test"

Sincerely

[2015-01-10 03:13] bitmage opened #19 "{inq: []} produces invalid SQL"
This query:

[code]

Produces this SQL:

[code]

Which is invalid, and fails with this error:

[code]

The query presented is generated by the [changes](https://github.com/strongloop/loopback/blob/master/lib/persisted-model.js#L735) method, which is part of the Loopback replication implementation.  This particular query will be generated when there are no changes detected.

I think the `changes` m

[2015-01-10 16:11] raymondfeng commented on #19
Good catch. WHERE 0 is valid in MySql. For Mssql, it can be 0 = 1. Please submit a patch.

[2015-01-16 17:02] nyabutid opened #21 "Insert into Table with Active Trigger"
[code]

[code]

[2015-01-26 08:47] CodeConcepts commented on #9
Hi, I was just wondering if this issue has been resolved? It seems to be quite a serious problem.

[2015-01-26 15:43] CodeConcepts opened #22 "IN and NOT IN string escaped after join"
Hi,

In mssql.js on line 503 it seems that you are escaping the result of the join, this leads to unwanted single quotes. It is currently this:

`return escape(val.join("','"));`

I think it should be something like this:

`return val.map(function(v) { return escape(v); }).join(",");`

Please let me know if I have missed something.

Regards

[2015-01-26 21:31] raymondfeng commented on #19
Fixed

[2015-01-26 21:31] #19 closed

[2015-01-30 18:41] Jeff-Lewis opened #24 "Why does toDatabase() convert dates to UTC?"
I know it's best practice to store dates as UTC but often developers are working with existing systems that do not. I'm not sure why the connector should force this on the developer as the default.

Most DB access layers using MSSQL that I've used do not do this conversion automatically. I think it should either leave the date alone or maybe make it an option to convert to UTC that could be 'true'

[2015-01-30 18:59] Jeff-Lewis commented on #24
It appears tedious has a [config option 'useUTC'](https://github.com/pekim/tedious/blob/1ad5e697d2d55410063f2948039180dc882b08fd/src/connection.coffee#L276) which controls this behavior. I would make sense that we expose this as well.

[2015-02-10 22:17] nyabutid commented on #21
Current workaround:

Replace
[code]
with (use select scope_identity() instead of OUTPUT INSERTED)

[code]

[2015-02-10 22:27] raymondfeng commented on #21
What's going to happen if the PK is not an identity, for example, some sort of uuid?

[2015-02-10 22:34] Jeff-Lewis opened #26 "Support read-only Views as models"
Does LB plan to support read-only views in MsSQL where there might not be a primary key?

Integrating existing 3rd party systems into the SL micro-services architecture is very valuable. Currently, I assume we could add (hack) new wrapper views with a fake Primary Keys which does something like `select someKey,* from view` in order to comply.

@raymondfeng What are you thoughts?

[2015-02-10 22:39] raymondfeng commented on #26
Interesting use case. If it happens, some of the methods won't be allowed, such as `findById`. Only `find`, `findOne` and `count`. I assume it should be functional today if you supply an explicit `order` property for the `filter` arg on `find`.

[2015-02-10 23:12] nyabutid commented on #21
In my schema the IDENTITY is always the ID. Can this be provided as a configuration option instead to handle these caveats: when triggers are enabled on a table or when your PK is not the IDENTITY on the table?

[2015-02-20 06:49] kphongph opened #28 "update with string or varchar as primary key not working"
Could you please add the feature when the primary key is not numeric?

Currenlty, what I do to quick fix is adding "id = escape(id)" before generating SQL query.

For example,

//update
        id = escape(id); // the added line to quick fix
        sql = "UPDATE " + tblName + MsSQL.newline;
        sql += "SET " + combined.join() + MsSQL.newline;
        sql += "WHERE [" + modelPKID + "] = (?);"

[2015-02-28 22:00] idosh commented on #1
I can't set a model id manually even after setting idInjection to false.
After looking inside the mssql connector source, I found that idInjection is ignored and it deletes the primary key by default.

[2015-03-01 05:38] raymondfeng commented on #1
@idosh Can you provide a test case to reproduce the problem? A link to your github repo is ideal.

[2015-03-01 07:22] idosh commented on #1
I'm working on a closed source project so I can't link my repo here.
Here is my model definition:

[code]

As you can see, I'm defining a model without id injection but still my id field is ignored.
I look into the mssql connector source code and found these two lines in the `buildInsert` method:

[code]

[2015-03-03 06:50] #1 closed

[2015-03-03 17:27] idosh opened #30 "slc debug with mssql connector"
I can't manage to debug loopback application which uses the loopback-connector-mssql.
It always throws timeout error.

[code]

[2015-03-03 17:42] raymondfeng commented on #30
You can set the `requestTimeout` in your data source config. See descriptions at https://github.com/patriksimek/node-mssql#basic-configuration-is-same-for-all-drivers.

[2015-03-03 17:58] idosh commented on #30
Great, it works!

[2015-03-03 17:58] #30 closed

[2015-03-03 22:18] idosh commented on #21
+1

[2015-03-04 18:29] idoshamun opened #32 "Support utf8 strings"
When adding/updating non latin strings mssql saves them as questions marks.

[2015-03-04 18:32] superkhau commented on #32
Please create a test project on Github to reproduce the issue as per https://github.com/strongloop/loopback/wiki/Issues#bug-report

[2015-03-09 22:05] idosh opened #33 "Connection With Keep-Alive"
The load balancing policy on Azure is to disconnect connections that are idle for 30 minutes or more.
Is there any way to connect to Azure SQL with keep-alive connection?

[2015-03-09 22:08] raymondfeng commented on #33
The driver we use under the hook seems to have supported `keep-alive` already. See https://github.com/ravensteel/tedious/commit/5aee02800b942407dfeebdc13afda2560e525ccd.

[2015-03-09 22:46] idosh commented on #33
Great thanks!

[2015-03-12 06:26] idosh commented on #33
After investigating a little bit, I found the [guidelines for Azure SQL](https://msdn.microsoft.com/en-us/library/ee336245.aspx)
Basically it says that after 30 min of idleness the connection is closed.
Is there any way to use  connection pooling instead of one global connection?

[2015-03-13 12:53] #33 closed

[2015-03-24 21:41] dashby3000 opened #36 "Fault-Tolerance Support"
Regarding SQL Server connection params for fault-tolerance, we need support for `Data Source=Server_A;Failover Partner=Server_B`

Customer scheduled to go to prodcution in 4 weeks.  This is a blocker.

PLATAPI-383

[2015-03-26 20:46] idoshamun opened #38 "Default Data Type Is Used For Foreign Keys With Custom Data Type On Auto-Update/Migrate"
Let's say I define a user model which its id is a Number ad set custom data type as bigint.
When I define another model which belongs to user the foreign key will be an int not a bigint.

[2015-03-30 20:24] chandadharap commented on #36
MSSQL

[2015-04-10 15:52] chandadharap commented on #36
The driver does not seem to support fault-tolerance out of box. We will need to implement this code ourself. This seems a project by itself. (if we need to achieve parity with other solutions).

[2015-04-13 20:38] chandadharap commented on #36
Al, Raymond and Dennis discussed. This is more scope than a "fix". Dennis to follow up for a Professional Services possibility.

[2015-04-15 13:03] OwenBrotherwood opened #40 "limit and order"
An observation that may be a documentation issue.
With the loopback-connector-mssql, it is possible to define a limit: <some nr>.
This results in "bad sql".

With a console.log(command) in ../node_modules/loopback-connector-mssql/node_modules/mssql/lib/tedious.js, one observes a ROW_NUMBER() OVER(null).

Adding a order:column gives a OVER(ORDER BY [column]), and one is happy again.

As stated, thi

[2015-04-15 15:24] raymondfeng commented on #40
What's your model definition? By default, it should use the `id` property for ordering.

[2015-04-15 15:26] OwenBrotherwood commented on #26
So far, I have find and count working on a Read-Only table (not view). I have to check if the discover data model (via arc) actually defined a Primary Key.

Please note that the order property is necessary at least for limit:
https://github.com/strongloop/loopback-connector-mssql/issues/40

I created issue 40 before reading this seemingly unrelated issue.

[2015-04-15 15:27] OwenBrotherwood commented on #40
I think I am finding the "problem" : the model is a discovered model by arc on a Read Only Database.
I will investigate if arc found a primary key.

[2015-04-15 17:49] OwenBrotherwood commented on #40
OK: Not too sure but ...
Requirement, discover model and make some magic code: I used arc and it created a good enough model and I note that idInjection: false and an id is present as:

[code]
Investigating ID, I find that ID is present in the MSSQL Table, value null for all values.

A conclusion? beats me just now so I am googling and found https://github.com/strongloop/loopback-connector-mssql/p

[2015-04-15 18:03] OwenBrotherwood commented on #40
Removed id (ID) from the model, regenerated lb-services.js and removed the order:column and ...
Everything worked:)
Sooo...
I have a gap in my understanding of the magic of id but have also learned that if id(ID) is in the database I want to discover a model for, I may have issues and would need to understand the magic.
I wonder if there is a document that I should read (or should be made)

[2015-04-15 18:39] OwenBrotherwood commented on #26
As @raymondfeng noted: Interesting Use Case.
Do we define the Use Case as one has to create code that can interact with a 3rd Party Database Table/View and the use of http://docs.strongloop.com/display/public/LB/Discovering+models+from+relational+databases ?
There could be several gotcha's that one may need to be aware of.
FYI
My next task is to discover models from relation databases where the ta

[2015-04-15 19:01] OwenBrotherwood commented on #40
slc arc revisited.

When using slc arc to discover the model from a database, one can select a column as "is id"
I chose a column, and selected "is id" and repeated a regeneration of lb-services.js _without_ deleting a referance to the id(MSSQL ID).
Everything worked:) Well done whoever did the "is id".

[2015-04-16 15:46] dbarbeau opened #41 "GeoPoint inconsistency?"
Hello,

I'm starting to use this connector in preparation of a deployment. I'm migrating from using the memory connector. I have a model with a `gps:"geopoint"` property. When querying an instance of that model the memory connector properly returns an object of similar to {lat:number, lng:number}, while the mssql connector returns a string (resulting in a cascade of errors). Also, when inspecting

[2015-04-17 23:42] crandmck commented on #40
If there is a specific issue with the docs (something wrong, missing, or unclear), please let me know.
I can't seem to figure it out from the above...

[2015-04-18 06:32] OwenBrotherwood commented on #40
@crandmck
The Use Case was I had to use MSSQL tables from a third party system (ie, I needed to consume another systems data). Basically, with very little doc from the third party system, I had to discover the model and use the model for a MEAN app.

One crash course in a slc arc discover model later, I have the following:

- if the model that is discovered has an 'id', the code generates an error

[2015-04-22 22:37] crandmck commented on #40
@OwenBrotherwood Thanks for the suggestions.  I added a note to several of the above articles highlighting the ID property with a cross-reference.

[2015-05-01 18:49] OwenBrotherwood commented on #40
@crandmck
From gitter.im:
How do you get models to have an auto incrementing PK? Omit id? Use _id or something?
hmm, looks like I need to use “generated”: true?

http://docs.strongloop.com/display/public/LB/Model+definition+JSON+file#ModeldefinitionJSONfile-IDproperties
- I couldn't quickly answer the question.

[2015-05-06 15:50] bandra opened #42 "Windows SSO Authentication"
Does the connector have support for using Windows SSO for authentication to SQL Server using Windows Authentication? Or is the only supported method using SQLServer auth with username/password?

[2015-05-22 11:19] erikverheij opened #45 "Put request with non existent properties result in error"
Put requests having non existent properties (properties that do not exists in the model definition) are resulting in the following error;

    TypeError: Cannot read property 'id' of undefined
        at MySQL.SQLConnector.buildFields (\loopback-connector-mysql\node_modules\loopback-connector\lib\sql.js:861:24)
        at MySQL.SQLConnector.buildFieldsForUpdate (\loopback-connector-mysql\node_modu

[2015-05-22 15:25] raymondfeng commented on #45
Good catch. I'll fix it.

[2015-05-22 15:53] raymondfeng commented on #45
Fixed by loopback-connector@2.1.2

[2015-05-22 15:53] #45 closed

[2015-05-22 16:00] erikverheij commented on #45
Thanks for the quick fix!

[2015-05-24 12:33] f0ysal commented on #7
@johnsoftek @raymondfeng @aams I am still having similar issues is this fixed?

I am trying to save/update a model with some attribute changes where I do not have any ID property. But when I am debugging the datasource-juggler and getting a SQL like this:

INSERT INTO [dbo].[LastUsedID] ([LastIDUsed])
VALUES (59);
SELECT IDENT_CURRENT('[dbo].[LastUsedID]') AS pkid;

Is it natural I think I should

[2015-05-29 02:24] mattwoolnough commented on #42
+1!

[2015-06-10 16:35] rbonillajr opened #46 "Connet to instance"
How to connet instance? for example SEVER\SQLEXPRESS

 config = {
    user: 'user',
    password: 'pass',
    host: 'server',
    database: 'dbname',
    supportsOffSetFetch: Math.random() > 0.5
  }

[2015-06-28 02:53] makersu opened #47 "connectors:mssql licensing missing or invalid"
When I "slc run", it showed:
[code]

But when I "slc arc --licenses", I can not find the licenses page.(on logout button?)

When query http://0.0.0.0:3000/api/Users:
[code]

Please hint.Thank you very much.

[2015-06-28 07:25] makersu opened #48 "mssql Data source-specific options"
I define datasources.json:
[code]
Then I defined in Account.json
[code]
Then it returned:
[code]
It seems that it use the model name "Account" as table name but not use the name "chs_employees" defined in Account.json.

[2015-06-28 07:27] raymondfeng commented on #48
The `options` should be:
[code]

[2015-06-28 07:27] #48 closed

[2015-07-06 16:45] iguyking commented on #42
+1

[2015-08-01 17:57] ahmed-abdulmoniem opened #50 "isActual is not implemented?"
Hi,

`isActual` method is not implemented .. any thoughts .. it is always returning `true`?!

Thanks.

[2015-08-02 18:14] tuomastanner commented on #21
+1 Switched to @idosh s fork for the time being and all seems to work perfectly. Big thumbs up!

[2015-08-13 10:58] ahmed-abdulmoniem commented on #50
Any news about that?

[2015-08-13 21:50] superkhau commented on #50
It seems to be implemented here: https://github.com/strongloop/loopback-connector-mssql/blob/master/lib/migration.js#L91-L113

Maybe its a bug or something? What are you trying to do?

[2015-08-14 15:05] ahmed-abdulmoniem commented on #50
It doesn't take any parameters like the ones for postgres or mysql .. I need to pass the model name to check if it's schema is equal or not?!

[2015-08-14 15:27] ahmed-abdulmoniem opened #51 "Inserting Arabic into Database is not Working?"
I have tried to insert Arabic into one of my columns (`nvarchar`) but always getting ????? .. Any clue please?

[2015-08-14 15:58] superkhau commented on #51
What database/conector are you using? Is your database set up to recognize UTF-8?

[2015-08-14 16:02] ahmed-abdulmoniem commented on #51
My database is SQL Server using this connector `loopback-connector-mssql`.

How to setup the database to recognize UTF-8?

[2015-08-14 16:36] superkhau commented on #51
This is not LoopBack specific, you will need to Google how to do it for your specific database. If you need direct support, we offer subscription plans. See https://strongloop.com/node-js/subscription-plans/. Closing for now, feel free to reopen once you confirm it's an actual LoopBack issue.

[2015-08-14 16:39] superkhau commented on #50
You are right, it doesn't. @raymondfeng Any reason why MSSQL's `isActual` implementation is different?

[2015-08-14 17:48] ahmed-abdulmoniem commented on #51
So you think it is not loopback issue? I wasted 3 hours until now on how to configure the SQL Server to support UTF8 but it doesn't support that. I think the connector should convert data to something appropriate to be saved correctly in Arabic in database.

[2015-08-14 18:02] ahmed-abdulmoniem commented on #51
@superkhau @raymondfeng
I have changed this line

https://github.com/strongloop/loopback-connector-mssql/blob/master/lib/mssql.js#L266

to:

`return "N'" + val + "'";`

This adds support to unicode.

[2015-08-14 18:06] raymondfeng commented on #51
Based on https://support.microsoft.com/en-us/kb/239530, your proposed change looks good to me. Do you want to submit a patch?

[2015-08-14 18:11] ahmed-abdulmoniem commented on #51
Yeah sure

[2015-08-14 18:18] ahmed-abdulmoniem commented on #51
@raymondfeng Here it is https://github.com/strongloop/loopback-connector-mssql/pull/52

[2015-08-14 21:45] superkhau commented on #51
I wasn't sure if it was yet, but I wanted you to confirm the database side before reopening the issue, which @raymondfeng has already done.

Thanks for researching it and coming to the conclusion that it was Loopback related. As we look at a lot of issues, we appreciate that issues are confirmed before reporting. I will take a look at the patch and get it merged ASAP.

[2015-08-14 22:02] ahmed-abdulmoniem commented on #51
@superkhau Thank you :)

[2015-08-15 00:22] superkhau commented on #51
Resolved via https://github.com/strongloop/loopback-connector-mssql/pull/52.

[2015-08-15 00:22] #51 closed

[2015-08-20 19:25] jaideepdas opened #53 "AuthToken Error "Conversion failed when converting from a character string to uniqueidentifier.""
When i try to use the login API

[code]

I am getting the error in the console

[code]

This is my migration script

[code]

![accesstoken fields](https://cloud.githubusercontent.com/assets/1322424/9393381/35772ae2-479f-11e5-9a72-8613da3534a4.PNG)
This is the column structure i am seeing in the mssql server manager.

[2015-08-20 19:27] jaideepdas commented on #53
Using sql profile this is the query I am seeing which is erroring out.
[code]

[2015-09-16 16:12] JPorter1214 commented on #53
I am having the same issue. Were you able to find a solution?

[2015-09-16 21:37] jaideepdas commented on #53
in this grunt task I am running all the SQL queries that I needed to fix this, but the bug I don't think is fixed yet.
[code]

[2015-10-03 02:40] fuadhasni commented on #47
+1

[2015-10-05 22:07] superkhau commented on #47
@crandmck Probably need some docs to guide the users.

[2015-10-05 23:56] crandmck commented on #47
The docs already cover this in some detail: https://docs.strongloop.com/display/SL/Managing+your+licenses.

However, when you run `slc arc --licenses` you should see the licenses page straight away (see screenshot below), so you shouldn't really need much guidance... Perhaps I'm misunderstanding the issue?

![arc licenses](https://cloud.githubusercontent.com/assets/2925364/10296872/adca11e8-6b81-1

[2015-10-09 10:28] jaideepdas opened #54 "number data type should have a float or decimal definition in db"
If I define number in the model for a field type, in the db definition its becoming int, shouldn't it be float or decimal as loopback uses number for float and decimal https://docs.strongloop.com/display/public/LB/LoopBack+types

[2015-10-14 00:15] superkhau commented on #54
JavaScript only supports the Number type.

@raymondfeng Thoughts? ^

[2015-10-14 07:14] jaideepdas commented on #54
But then at db level this is causing issue by creating INT when FLOAT is needed.

[2015-11-03 12:54] digitalsadhu commented on #42
I did some digging on this a while back, IIRC, the underlying mssql module doesn't really support it. In theory it does if the correct driver is used (not the default) but that came with limitations such as being stuck on node 0.10 and requiring native bindings and such.

[2015-11-06 21:03] victorhqc opened #56 "URL Parameter not working properly"
I'm currently working with the version `"loopback-connector-mssql": "^2.3.1"` trying to connect to a Database in Azure. If I use the `mssql` directly I'm able to connect and perform a basic Query, but I try using it in Loopback I get a timeout error.

My datasource looks like

[code]
And in the terminal I get the following error

[code]

somehow it ends up pointing towards `127.0.0.1` instead of t

[2015-11-06 21:33] victorhqc commented on #56
After several tests, I ended up changing the datasource like this:

[code]
Note that the `encrypt` property should be inside an options object.

Cheers!

[2015-11-06 21:33] #56 closed

[2015-11-15 09:15] ahmed-abdulmoniem commented on #50
Any news about this issue @raymondfeng ?

[2015-12-11 11:07] jaideepdas opened #63 "How to make query on a field of a relation"
Lets say I have a table B which belongs to table A, and table A has a type column, how can I make a filter query on table B based on type field in table A.
I tried

[code]

i dont think dot notation works here, i keep getting error like this in console and app crashes.

[code]

[2015-12-14 23:15] crandmck commented on #47
@superkhau can we close this?  I don't think we can clarify it any more.

[2015-12-14 23:33] superkhau commented on #47
@crandmck Close it.

@makersu @fuadhasni Please comment again if you are still running into issues and we'll repon this issue.

[2015-12-14 23:33] #47 closed

[2015-12-31 12:09] Sandy1088 commented on #21
Hello All,

I have the same issue however mssql.js which I have seems to be completely different and I am not sure how resolve error "The target table 'dbo.Test' of the DML statement cannot have any enabled triggers if the statement contains an OUTPUT clause without INTO clause".......

For an instance I've below code in my mssql.js where Output is inserted

MsSQL.prototype.buildInsertInto = funct

[2016-01-04 20:03] mmoutenot commented on #50
+1

[2016-01-06 11:39] SandeshSarfare opened #65 "The target table 'dbo.Test' of the DML statement cannot have any enabled triggers if the statement contains an OUTPUT clause without INTO clause"
I am using strongloop framework to develop REST Api and mssql as server. I have a table Test in my db which has a trigger. whenever I try to insert or update a record it gives me error as "The target table 'dbo.Test' of the DML statement cannot have any enabled triggers if the statement contains an OUTPUT clause without INTO clause"

but the mssql.js file with me is same as it is in (loopback-conn

[2016-01-12 13:07] Sandy1088 commented on #21
Is there no answer to the issue i am facing?

[2016-01-12 13:11] Sandy1088 commented on #21
mssql.js which i have is different than one in this repo.....please suggest a workaround......otherwise we can not go live on production......Thanks in advance

[2016-01-13 04:43] Sandy1088 commented on #65
My current mssql.js from the connector

/*! Module dependencies */
var mssql = require("mssql");
var SqlConnector = require('loopback-connector').SqlConnector;
var ParameterizedSQL = SqlConnector.ParameterizedSQL;
var util = require("util");
var debug = require('debug')('loopback:connector:mssql');

var name = "mssql";

exports.name = name;
exports.initialize = function initializeSchema(dataSource

[2016-01-13 04:44] Sandy1088 commented on #65
How do I make it work with a trigger enabled?

[2016-01-14 08:14] Sandy1088 commented on #65
@raymondfeng ....can you help me out with this?

[2016-01-17 22:00] sochka opened #66 "SQL Server Express"
Hi, is it possible to connect to SQL Server Express? Usually, it doesn't have a port, username and password since it was created for development purposes.

[2016-01-18 20:16] superkhau commented on #66
We only officially support SQL Server. However, you are free to try with that connector https://docs.strongloop.com/display/public/LB/SQL+Server+connector. Basically leave the username, port nad password field empty. Let me know how it goes. ;)

[2016-01-18 20:16] #66 closed

[2016-01-18 20:18] sochka opened #67 "mssql connector doesn't work on Azure"
Hi, it seems like there is something problem with mssql connector on Azure. Even before the app boots, it crashes with the following error:

[code]

On the other hand Postgres connector works flawlessly. I used Azure App Service (API app) for deployment. I checked the contents of the node_modules directory. Indeed, it had loopback-connector-mssql package inside. But loopback just fails to pick it

[2016-01-18 20:25] sochka commented on #66
Hi, it crashes with the following trace:
[code]

With this config:

[code]

[2016-01-18 20:25] sochka commented on #66
Correcting myself: I'm actually using SQL Server Express LocalDB, not SQL Server Express

[2016-01-18 21:24] superkhau commented on #66
@sochka Thanks for testing. No we do not support those two specifically. You are free to try to create one or search on https://www.npmjs.com/search?q=loopback-connector for one. Would be a good community project. ;)

[2016-01-18 21:43] sochka commented on #67
@superkhau Hey, sorry for troubling you with this, maybe you know where is the location of the connector loader? The thing that would resolve the module name by concatenating 'loopback-connector-' with the connector name. I'd like to look at that place; maybe I'll find out what's going on. Also, do you know where is the license check? That could also be a problem since it somehow loads PostgreSQL

[2016-01-18 23:07] superkhau commented on #67
Is this what you're looking for? https://github.com/strongloop/loopback-datasource-juggler/blob/486c1de1ba4572f810606be1aa148db4d272e52c/lib/datasource.js#L196

I don't believe the postgres connector has a license check. You can see the example of a connector that does have one at https://github.com/strongloop/loopback-connector-oracle/blob/170654fc11931318e4d8591847e2f9b50b2a1f9e/index.js#L1.

[2016-01-18 23:31] sochka commented on #67
This is really strange, I have no idea why that happens. Unfortunately this is blocking me with making a production build.

[2016-01-19 13:41] sochka commented on #67
Hi, I just tested oracle's connector and it also doesn't seem to work:

[code]

[2016-01-20 03:38] sochka commented on #67
Ok, I was finally able to deploy it, by adding this repo code as part of my own, and installing through npm's local dependency. But then, I spend about 5 hours debugging the problem with not being able to connect to the DB and as I learned after digging a few layers below, when using Azure, you have to add: `options: {encrypt: true}` to your config. Probably it's better to add this to the docs.

[2016-01-20 03:38] #67 closed

[2016-01-27 08:05] FoysalOsmany opened #69 "Violation of PRIMARY KEY When there is an Identity column in model"
If model have any identity column where id = true and generated=true getting this error when trying to insert

Error:
"[DatabaseError: RequestError: Violation of PRIMARY KEY constraint 'PK_TblLkp'. Cannot insert duplicate key in object 'dbo.TblLkp'.]"

Model:

[code]

Generated SQL:

SET IDENTITY_INSERT [dbo].[TblLkp] ON;

DECLARE @ids TABLE (id VARCHAR(50))

INSERT INTO [dbo].[TblLkp]([id],[SubTy

[2016-01-28 11:26] f0ysal commented on #69
@raymondfeng Can you please check this issue?

[2016-01-29 20:04] sochka commented on #7
The AccessToken table (which was created automatically through  this code)

[code]

has the following schema:

[code]

And this doesn't work with inserts due to the fact that IDs are actually strings! Have I done something wrong or that's the issue everybody had?

[2016-02-03 02:13] superkhau commented on #50
Would one of you guys like to test it out and submit a patch?

[2016-02-03 02:13] superkhau commented on #50
@richardpringle Reassigning to you as you are the repo expert.

[2016-02-05 11:36] FoysalOsmany commented on #21
@raymondfeng Can you do the code review and merge?

https://github.com/strongloop/loopback-connector-mssql/pull/70

[2016-02-06 15:53] sochka commented on #53
any updates on the fix in the repo?

[2016-02-06 16:04] sochka commented on #9
I think this was fixed.

[2016-02-06 16:33] sochka commented on #1
I believe this problem this exists. My schema:
[code]

Running `app.dataSources.db.autoupdate()` results  with the following DDL for me:

[code]

[2016-02-06 16:36] sochka opened #71 "accessToken id data type - impossible to change from uniqueidentifier to nvarchar"
I have this model definition:

[code]

Running app.dataSources.db.autoupdate() results with the following DDL for me:

[code]

While instead the ID column should have "nvarchar(255)" data type. This is most definitely a bug.

[2016-02-14 03:30] margagn commented on #46
I have the same question...

[2016-02-18 15:32] margagn commented on #47
It looks like most of the connectors require an annual subscription. You should make that clear on the Strongloop and Loopback (http://loopback.io) website. If I had known that earlier, I wouldn't have spent time learning this framework. I am going to have to use another framework for my project.

[2016-02-18 18:27] crandmck commented on #47
@margagn Only Oracle, MS SQL Server, and SOAP connectors require a paid license.  All the others listed on https://docs.strongloop.com/display/LB/Database+connectors are free / open source.

[2016-02-18 22:42] a300600st commented on #53
I'm getting the same error. The problem seems to be caused because automigrate is creating the AccessToken table with an id of type uniqueidentifier. Changing the column type to varchar(255) fixes the problem. I'm new to loopback so I can't tell what the origin of this issue is but it seems like the problem is with automigrate.

[2016-02-18 22:50] sochka commented on #53
@a300600st you're right about automigrate - same for me. I tried various configurations and didn't find out anything better than manually creating the schema.

[2016-02-18 22:56] a300600st commented on #53
@sochka Well this seems like a good chance to get acquainted with writing a loopback-connector. I'll look into it and see what I can figure out. Maybe I can get this fixed.

[2016-03-15 15:46] jgleman opened #72 "migration does not support blob columntypes"
In our project we have a model that stores files as attachments in a MySQL MEDIUMBLOB. I have this in my model file, which was generated by the **discoverSchema** function:

[code]

When we run autoupdate, it tries to change the column type for data in the database and in doing so generates an invalid ALTER statement:

[code]

you can see the SQL:

[code]
to create a MEDIUMBLOB column in mysql, yo

[2016-03-15 17:50] jgleman commented on #72
Sorry, posted this to the wrong repository, this is for MySQL, not MSSQL.

[2016-03-15 17:50] #72 closed

[2016-03-16 00:53] jrutter commented on #42
+1 - Im currently having trouble with this as I need to connect under a domain, but nodejs is complaining about the '/' backslash in my username. Has anyone found a way to get around this?

[2016-03-16 03:05] johnsoftek commented on #42
Two back-slashes?

On 16 March 2016 at 10:53, Jake Rutter <notifications@github.com> wrote:

[2016-03-23 11:18] dknapp47 opened #74 "Syntax for Indexes Model JSON Does Not Match Documentation"
Based on the documentation at the bottom of this page:

https://docs.strongloop.com/display/public/LB/Model+definition+JSON+file#ModeldefinitionJSONfile-Indexes

I believe that I should be able to do this:

  "indexes": {
    "ERPIDandLTPID": {
      "entityReportingPeriodId": 1,
      "lowerTierPartnerId": 1
    }
  }

But after studying the source, I need to do this:

  "indexes":{
    "blah": {

[2016-04-07 11:15] dknapp47 opened #77 "Regression in 2.7.0: Float Column Type is Rounded to Integer"
I have this model JSON:

"properties": {
    "percentage": {
      "type": "number",
      "required": true,
      "mssql": {
        "dataType": "float"
      }
    }
  }

In 2.6.0 (and possibly earlier), the value is correctly written to the database table.

In 2.70, the value is rounded to the closest integer.

[2016-04-07 23:33] raymondfeng commented on #77
Fixed by loopback-connector-mssql@2.7.1

[2016-04-07 23:33] #77 closed

[2016-04-10 19:31] devotis opened #79 "Query for getting primary keys inadvertently returns foreign keys too"
The query executed in lib/discovery.js **queryForPrimaryKeys returns not only primary keys but also foreign keys**. Which in turn causes schemas to be generated with foreign key properties with an id property > 0. Which in turn generates an error when updating model instance foreign key properties through updateAttributes: _"id property (some foreign key column) cannot be updated from A to
 B"_

R

[2016-04-17 21:11] richardaum opened #81 "Identity column haven't been correctly identified"
https://github.com/strongloop/loopback-connector-mssql/blob/master/lib/mssql.js#L193

`var isIdentity = (prop && prop.type === Number && prop.generated !== false);`

This statement should identify if a specifc column has the identity attribute. But when `generated` attr is not defined at the JSON model, it assumes as `undefined`, and `undefined !== false`.

The assumption here is: `prop.generated`

[2016-04-18 13:47] richardaum commented on #81
Adding @superkhau , @raymondfeng for notification.

[2016-05-04 06:08] BenjaminHorn commented on #79
I agree. This caused problems for us too. Thanks for the clarification.

[2016-05-06 15:47] zekizeki commented on #53
I have this issue when using MSSQL too.

[2016-06-01 07:14] sajmons opened #87 "Wrong parameter types in parameterizedSQL"
If you have SQL table with char or varchar datatypes, loopback connector always sends nvarchar as parameter type. At least it should get proper type from model definition, instead of completely ignoring type defined in model and leave guessing of type to mssql package.

For example if properties definition in model is like this:

"properties": {
    "Vrsta": {
      "type": "String",
      "id": t

[2016-06-01 08:28] denkan commented on #53
Same here, using v2.7.1

[2016-06-01 09:10] denkan commented on #53
My temporary fix was to add a boot script based on @jaideepdas grunt snippet, but first check the datatype of the id column, and if it's wrong - re-create table with correct datatype:

**/server/boot/mssql-fix.js**
[code]

[2016-07-15 19:59] averypfeiffer commented on #50
Any updates on this issue?

Seems like a pretty big issue when dealing with migrations and there has been little to no activity for almost a year now.
Anything I can do to help?

[2016-07-15 20:56] superkhau commented on #50
I'm going to change this to a bug. @raymondfeng If you disagree, please comment.

@averypfeiffer @ahmed-abdulmoniem Feel free to submit a PR and link it to this issue. Let's work on getting it fixed instead. Please ping me in the PR when you're ready for a round of review.

[2016-07-27 16:50] Amir-61 opened #90 "Test failure"
It seems [this test](https://github.com/strongloop/loopback-datasource-juggler/blob/f1ed1ee023d06edf9acd1ad3c8b56a22834abe63/test/manipulation.test.js#L730-L758) has been failing since July 23rd:

The error message:

[code]

The test case has been passing and it still passes on all other connectors except `loopback-connector-mssql`

@superkhau @0candy @loay The test was added on July 7th and it wa

[2016-08-18 21:07] superkhau commented on #9
Fixed via #23

[2016-08-18 21:07] #9 closed

[2016-08-24 01:35] carlosfaria94 opened #93 "Add support to JSON Data type"
Take a look in the new data type https://msdn.microsoft.com/en-us/library/dn921897.aspx

I think this will help a lot.

[2016-08-24 02:57] carlosfaria94 opened #94 "Default newid() to uniqueidentifier it's not according to the docs"
Hi,

`DEFAULT newid()` here: https://github.com/strongloop/loopback-connector-mssql/blob/master/lib/migration.js#L336-L342

Now I'm trying to generate a guid in server-side using `"defaultFn": "guid"`, example:

[code]
And not successful, because you are generating a new ID in database-side, even putting `"generated": false`

Thanks.

[2016-08-24 03:27] #94 closed

[2016-08-30 11:51] alexschrod opened #95 "Problem with relations and subqueries"
(Pardon the "bad" title, I couldn't think of anything better)

I have a User model object, defined like this:

[code]

And a Role model object defined like this:

[code]

Using the Explorer, I try to access `CmsUsers/{id}/roles`, and, when running with debug enabled, the connector outputs the following:

[code]

However, if I take that very same SQL Query and run it manually in SQL Server Manageme

[2016-08-30 12:03] alexschrod commented on #95
Hm, I just noticed this problem (same error message about conversion failing) is occurring on `CmsUsers/{id}` too. I guess it's a bigger problem than I thought.

[2016-08-31 09:03] alexschrod commented on #95
Sorry, this is awfully embarassing; I had left out one character of the GUID when I was querying, which was what resulted in the error. It'd be nice if Loopback could catch that, but I understand that's not really its purview.

That's what I get for submitting a bug right before going home for the day.

[2016-08-31 09:03] #95 closed

[2016-09-01 09:31] kanchantripathi commented on #1
Hi,

I am also facing the same issue. below is my schema.

{
  "name": "ctp-assignment-sysn",
  "base": "PersistedModel",
  "idInjection": false,
  "options": {
    "validateUpsert": true
  },
  "properties": {
   "assignment_sysn_id": {"type": "number", "id": true, "generated": true},

    "student_id": {
      "type": "number",
      "required": true
    },
    "teacher_id": {
      "type": "num

[2016-10-20 06:44] shaheero commented on #1
Got the same problem. "idInjection": false, but still it gets added. Any solution?

[2016-10-31 16:07] kyle2829 opened #104 "Connection is busy"
This is a "heads up" to help others who see this error rather than an issue report.

When we erroneously attempted to update a table row with an invalid value (ex: a 300 character long string into an nvarchar(255)) other loopback calls would begin to fail, and we'd see the following error for all subsequent calls until a timeout occurred:

[code]

To resolve we ensured only valid data was being in

[2016-11-29 19:35] ataft opened #108 "queryForeignKeys returns incorrect fkTableName"
The ds.discoverForeignKeys function, which uses queryForeignKeys from discovery.js, returns the pkTableName as both pkTableName and fkTableName on SQL Server 2016. The following query should return the correct results for fkTableName:
[code]
Here's the corresponding DDL that shows the foreign key constraint:
[code]

[2016-11-29 19:43] ataft commented on #108
The same is also true of the queryExportedForeignKeys function. fkTableName is the same as pkTableName on SQL Server 2016

[2016-11-30 19:47] jannyHou opened #109 "Fix CI failure on master branch"
master branch fails due to error:
[code]

[2016-11-30 19:49] jannyHou commented on #109
@strongloop/squad-epitome PTAL
cc @pthieu

[2016-11-30 21:52] jannyHou commented on #109
Closing it in favour of https://github.com/strongloop-internal/scrum-loopback/issues/1260

[2016-11-30 21:52] #109 closed

[2016-12-05 18:12] cdokolas opened #110 "Timeout error with discoverSchema"
I'm trying to write a db-to-schema (JSON) generator. After retrieving the desired list of tables (in an array, via `discoverModelDefinitions`), I pass it to a method that calls the datasource's `discoverSchema` method to get the schema through a callback that does just that.

Sample code:

[code]

After a bunch of successful schema outputs (between 10-20) I get repeated "RequestError: Timeout: Req

[2016-12-07 07:39] superkhau commented on #36
Closing as abandoned. If you are still interested in working on this in the future, just ping and we can reopen it then.

[2016-12-07 07:39] #36 closed

[2016-12-09 00:01] siddhipai opened #113 "CI failures for X64 and linux"
see [#111](https://github.com/strongloop/loopback-connector-mssql/pull/111)

[2017-01-11 03:25] loay opened #116 "Fix replaceById to report an error when id not found"
### Bug or feature request

- [x] Bug

### Description of feature (or steps to reproduce if bug)
when using the methods replaceOrCreate or replacebyid, when the request contains and id that doesn't exist in the db, then an error should be thrown and not create the instance !

### Link to sample repo to reproduce issue (if bug)
https://github.com/strongloop/loopback-datasource-juggler/issues/1171
h

[2017-01-26 16:11] #116 closed

[2017-02-14 19:05] ataft opened #121 "autoupdate does not alter table to add indexes"
I can see that this is a work in progress, as the "showIndexes" function is labeled TODO. SQL Server (and Oracle) does not support "ALTER TABLE [table] ADD INDEX" syntax, so the "alterTable" function should use the same logic as the create does in the "singleIndexSettingsSQL" function.

[2017-02-16 21:50] emrahcetiner commented on #17
up

[2017-02-16 22:09] raymondfeng commented on #17
See https://msdn.microsoft.com/en-us/library/aa290124(v=vs.71).aspx.

Can you test if your SQL server installation is case sensitive?

If you can contribute a PR to use the correct case, we'll be happy to review.

[2017-02-17 08:36] emrahcetiner commented on #17
"Turkish_CI_AS" defined as Server Collation.
CI = Case Insensitive

Problem isnt CI or CS. Problem is "turkish" definition. In turkish, lowercase I is not i.
i -> İ
ı -> I

[2017-02-22 13:39] ariskemper opened #125 "Option to set dateFormat"
Currently its not possible to change dateFormat via options, which could introduce errors like
RequestError: The conversion of a varchar data type to a datetime data type resulted in an out-of-range value.
Tedious is forcing mdy date format. This will be fixed in new release of tedious and afterwards in node-mssql.

[2017-02-22 13:41] ariskemper opened #126 "Option to set Language"
Currently its impossible to set language due to node-mssql submodule tedious forcing us_english. This will be fixed in new release of tedious and node-mssql.

[2017-02-24 19:55] mulleady1 commented on #1
For anyone who has an id getting added even after setting `{ "idInjection": false }`, what worked for me was to set `{ "id": <number> }` on my composite key properties. For example,
[code]

[2017-03-22 21:54] TiagoCunhaF commented on #110
The default value for mssql connector is 15000, but you can change timeout in your datasources.json like this:
...
    "connector": "mssql",
    "requestTimeout" : 50000

[2017-03-31 17:10] dhmlau commented on #126
When installing `loopback-connector-mssql@2.9.0`, it's installing `mssql@3.3.0` and `tedious@1.14.0`.  Are those the versions you're referring to?  If not, could you please specify them.  Thanks.

[2017-03-31 17:10] dhmlau commented on #125
When installing `loopback-connector-mssql@2.9.0`, it's installing `mssql@3.3.0` and `tedious@1.14.0`.  Are those the versions you're referring to?  If not, could you please specify them.  Thanks.

[2017-04-03 15:41] ssh24 commented on #17
Fixed in PR #123

[2017-04-03 15:41] #17 closed

[2017-04-08 21:20] peebles commented on #7
Show stopper for me as well.  I think it is not uncommon now-a-days to use UID strings as primary ID keys, so that client side users of the database cannot "predict" other user ids (for example) based on their user id.  If I am user ID 4, then there might be a user with an ID of 5 and I can try to probe that.  I built my whole application using:

[code]

and tested and deployed with MySQL, Postgre

[2017-04-09 19:04] peebles opened #136 "No support for REGEXP"
The loopback doc does not suggest that regexp support in where clauses is database connector specific.  It seems to suggest that regexp will work whatever database connector is in use, however when I used regexp in a where clause I get "Microsoft SQL Server does not support the regular expression operator" message from the server to stdout, and this response from the request: "Incorrect syntax nea

[2017-04-12 02:10] dhmlau commented on #125
@ariskemper, is this good to close?

[2017-04-12 02:10] dhmlau commented on #126
@ariskemper, is this good to close?

[2017-04-12 02:18] dhmlau commented on #8
@alexyma, Sorry to take so long to respond.  Since this issue has been opened for more than 2.5 years, I'd like to close it as `loopback` and `loopback-connector-mssql` had released quite a number of versions since then.
Feel free to reopen or open a new issue if you still encounter the problem.  Thanks.

[2017-04-12 02:18] #8 closed

[2017-04-19 13:59] dhmlau commented on #90
seems like the tests are passing.  can we close this? @loay

[2017-04-20 17:52] dhmlau commented on #125
@ariskemper, please respond by next Friday (April 28) so that we can have closure on this.  If not, I'd close it by that day.  Thanks.

[2017-04-20 17:53] dhmlau commented on #126
@ariskemper, please respond by next Friday (April 28) so that we can have closure on this.  If not, I'd close it by that day.  Thanks.

[2017-04-21 10:59] Priminus opened #138 "Composite keys not added as primary keys"
# Description/Steps to reproduce

In model JSON file, I have this:
`  "properties": {
    "ContentID": {
      "type": "number",
      "required": true,
      "id": 1
    },
    "LangID": {
      "type": "number",
      "required": true,
      "id": 2
    },
    "EntityID": {
      "type": "number",
      "required": true,
      "id": 3
    },`

But when I auto-migrate, only the first column becom

[2017-04-27 17:45] dhmlau commented on #126
@ariskemper, we believe this problem has been resolved.  If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2017-04-27 17:45] #126 closed

[2017-04-27 17:46] dhmlau commented on #125
@ariskemper, we believe this problem has been resolved.  If you are still running into problems, feel free to leave a comment and I will reopen the issue.

[2017-04-27 17:46] #125 closed

[2017-05-03 13:57] #79 closed

[2017-05-05 14:58] dhmlau opened #147 "Investigate whether rc being used in tests"
# Description/Steps to reproduce
In the review of PR https://github.com/strongloop/loopback-connector-mssql/pull/146, @jannyHou suggested to investigate whether `rc` is being used for mocha tests, since we are using the env variable for the database instance.  If it's not being used, we might as well remove the related code.

# Expected result

Tests still pass if the changes are made.

[2017-05-05 15:00] dhmlau commented on #113
@siddhipai, CI seems to be passing, and the PR #111 you referenced has been landed.  Is it good to close?  Thanks.

[2017-05-05 15:02] dhmlau commented on #90
Closing this because all tests in CI for this repo pass.  If there's any failure, feel free to open a new issue.  Thanks.

[2017-05-05 15:02] #90 closed

[2017-05-09 20:03] ssh24 commented on #138
@Priminus Are you trying to add all three of `ContentID`,`LangID` and `EntityID` as primary keys? The way you did it on your model definition is not correct.

Correct way to do it, is add an `id` field for each of those property and assign it to `true`.

[code]

[2017-05-10 06:58] Priminus commented on #138
I tried "true" as well, same problem. Besides, in the documentation, using 1,2,3 is supported: https://loopback.io/doc/en/lb2/Model-definition-JSON-file.html
"In database terms, ID properties are primary key column(s) are. Such properties are defined with the ‘id’ attribute set to true or a number as the position for a composite key."

As you can see in my code fix, there was never a way to suppor

[2017-05-10 11:18] ssh24 commented on #138
@Priminus Ah, I see. Do you mind creating a pull request to fix this patch? Thank you.

[2017-05-10 19:19] ganipadela commented on #26
Any update on this ?

[2017-05-11 02:48] Priminus commented on #138
I know this is going to sound unsavoury, but I'm not going to create a pull request. I contacted Loopback and this connector can only be used as part of IBM API Connect. Since I can't use this code I've used Sequelize instead!

[2017-05-11 13:17] ssh24 commented on #138
I am not sure what you mean. You can use mssql instance for free using [docker](https://hub.docker.com/r/microsoft/mssql-server-linux/).

More over, I am still not able to reproduce your issue.

Here are the reproduction steps:
#### `model.json`
[code]

#### script.js
[code]

#### bash output
[code]

#### sql output
[code]

Please let me know if I missed any vital steps on reproducing the issue.

[2017-05-14 01:42] dhmlau commented on #46
@rbonillajr , sorry to take so long to respond.  Is your question still valid?  If so, please elaborate more on what you're trying to do.  If the question is no longer valid, I can close this issue.  Thanks.

[2017-05-14 01:46] dhmlau commented on #110
@cdokolas, does increasing timeout (as suggested by @TiagoCunhaF)  fix your problem?

[2017-05-14 01:49] dhmlau commented on #38
@idoshamun , sorry to take so long to respond.  Since it's been 2 years that this issue is created, are you still running into this problem?  If so, I can start the investigation.  If not, I'd like to close this.  Thanks.

[2017-05-14 04:02] idoshamun commented on #38
You can close, thanks

On Sun, May 14, 2017, 04:49 Diana Lau <notifications@github.com> wrote:

[2017-05-15 02:40] juancaacuna commented on #41
Hi @dbarbeau ! How did you exactly solve this?

Thanks!

[2017-05-15 03:11] juancaacuna opened #149 "How do you map GeoPoint?"
Hi guys!

Can you please give me an example of how to map a GeoPoint from SQL?

This is what I have:

[code]

However, when I run this:

[code]

I get this error:

[code]

Is there something I'm doing wrong? Maybe using a wrong datatype on SQL?
`geography` is the one normally used on SQL for this type of data.

Thanks!

[2017-05-15 15:28] #38 closed

[2017-05-15 23:39] ssh24 commented on #138
@Priminus We have [docker](https://github.com/strongloop/loopback-connector-mssql#docker) support added for this connector. Please feel free to use it to use mssql whenever you want using that.

Closing this as it is not an issue. Feel free to reopen if needed.

[2017-05-15 23:39] #138 closed

[2017-05-23 16:18] dhmlau commented on #46
Due to inactivity.  Closing this issue.
@rbonillajr , if you still encounter this issue, feel free to reopen with the additional information requested above.  Thanks!

[2017-05-23 16:18] #46 closed

[2017-05-26 21:34] acclaimuser commented on #66
Hi there, I am trying to connect SQL server which is running in my local windows machine. when i am trying to connect using the loopback connector; it still looking up in the port 1433 and errored with the same message as mentioned above.

Even i tried in API connect portal and ended up with same error message.

Where am I missing? thanks.

[2017-05-26 21:39] acclaimuser commented on #66
Okay, I am able to figure out this. Need to enable TCP/IP protocol for the SQL server instance to get it connected. able to discover the tables to generate models now.

[2017-05-26 23:12] ataft commented on #53
Any updates on this?

I'm doing something similar to @denkan as a workaround, but it's not pretty. This seems related to issue #71 and partially related to issue #7 too.

[2017-06-02 06:23] zamb3zi opened #150 "Transactions no longer queued"
One of the changes in mssql v4 is:

He mentions in [#412](https://github.com/patriksimek/node-mssql/issues/412)

This has broken any transactioned code with parallel steps. For example:
[code]
This used to work, although the parallel steps were actually executed in sequence thanks to mssql's transaction queue mechanism. Now we get the following:

This can be remedied by re-writing the code in seri

[2017-06-06 22:30] nklt opened #152 "Consider using sys.columns over information_schema inside discovery.js"
loopback-connect-mssql curently uses information_schema to discover properties of tables and columns.
however information_schema is slower in performance than sys,columns, and discovery using information_schema does not work when the database is not constructed in master, i.e. another database residing in the server, or replicated or migrated from different source etc.

each database in MS SQL has

[2017-06-06 22:38] nklt commented on #110
have you tried double checking the connection string (i.e. host name, account and password)? I notice the connector tends to provide a timeout when in some case there is a problem in configuration used.

also the connector has special requirements if instance name is used, i.e  HOST\SCHEMA. This requires the connection string to have \\ chars in it.

[2017-06-07 14:08] jack-karamanian opened #153 "OFFSET FETCH clauses lack ORDER BY clauses"
# Description/Steps to reproduce

When the option "supportsOffsetFetch" is true, there is no 'ORDER BY' clause prior to the 'OFFSET FETCH' clause.

According to [Microsoft's documentation](https://technet.microsoft.com/en-us/library/gg699618(v=sql.110).aspx) on 'OFFSET FETCH', an 'ORDER BY' clause is required to use it.

A statement such as this:
[code]

Would produce the following SQL:
[code]

Su

[2017-06-08 09:35] cdokolas commented on #110
Sorry folks, I had no time to re-check this :(

[2017-06-09 17:26] ataft commented on #108
Is there any update on this bug? Foreign keys are the only absolute way to know a relationship exists between two entities. Isn't this crucial to discovery?

[2017-06-09 18:56] ataft commented on #108
Never mind, I wrote the correct query and created a pull request (https://github.com/strongloop/loopback-connector-mssql/pull/155) for this fix.

[2017-06-14 14:53] cdokolas commented on #110
Using a `"requestTimeout" : 50000` did the trick. All 121 items' schemas were saved as JSON files.

Hooray!

[2017-06-14 14:53] #110 closed

[2017-06-29 19:02] MantasR commented on #136
Same issue here...

Was always using MYSQL  or postgres and just now had to use MS SQL...

[2017-06-30 21:50] dhmlau commented on #113
Closing it, since PR#111 has landed.

[2017-06-30 21:50] #113 closed

[2017-07-06 13:41] spatrame opened #157 "loopback: Model.beginTransaction is not a function"
I have below code to insert account details. I am using MS SQL database. but it shows beginTrasaction is not a function.

[2017-07-19 11:22] riekjurg opened #158 "Update of IMAGE data type"
It seems not possible to update data in column of type IMAGE. Connector serializes it to string when processing parameter data for UPDATE statement, and it results in an error.

# Description/Steps to reproduce

Data for an object with column of type IMAGE is retrieved like this:
[code]
For update we pass data in the same way. But as Buffer is serialized in `MsSQL.prototype.toColumnValue` , it res

[2017-07-24 09:50] perceptron007 opened #160 "IdInjection not inserting primary keys in my Custom defined primary key columns"
So i am trying to use the auto generated id's for my lot of tables thing is i can't set every column in every tables primary key set to name "id". It just doesn't make sense. I want my custom defined properties to be as id's

**This is my schema for one of the Model**

{
  "name": "lookup_types",
  "base": "PersistedModel",
  "idInjection": true,
  "options": {
    "validateUpsert": true,
    "idI

[2017-07-24 10:16] perceptron007 opened #161 "Set idInjection value to some number to start from."
So i want to start my autgenrated id's from 1000000000000.
How can i assign the value where to start from ?

[2017-07-24 10:21] perceptron007 commented on #160
Okay i found the solution. The problem is we can't provide required field inside id property otherwise it will cause error because of validateUpsert. So leave the required field in id property.

[2017-08-06 14:50] reidlai opened #164 "any charge if using mssql connector"
I found the license is not MIT.  Does it mean I need to pay when I use this connector in production?

[2017-09-01 04:40] creativekinetix commented on #42
mssql should now support his using msnodsqlv8 driver on windows. Are there any plans for adding this as an option in the near future?

[2017-09-05 18:07] #50 closed

[2017-09-05 18:07] #74 closed

[2017-09-05 18:07] #13 closed

[2017-09-05 18:07] #71 closed

[2017-09-05 18:07] #104 closed

[2017-09-05 18:08] #81 closed

[2017-09-05 18:08] #93 closed

[2017-09-05 18:08] #40 closed

[2017-09-05 18:08] #69 closed

[2017-09-05 18:08] #63 closed

[2017-09-05 18:08] #65 closed

[2017-09-05 18:08] #12 closed

[2017-09-05 18:08] #21 closed

[2017-09-05 18:08] #24 closed

[2017-09-05 18:08] #28 closed

[2017-09-05 18:08] #22 closed

[2017-09-05 18:08] #54 closed

[2017-09-05 18:08] #32 closed

[2017-09-05 18:08] #7 closed

[2017-09-05 18:08] #147 closed

[2017-09-05 18:08] #26 closed

[2017-09-05 18:08] #41 closed

[2017-09-05 18:08] #53 closed

[2017-09-05 18:08] #149 closed

[2017-09-05 18:08] #150 closed

[2017-09-05 18:08] #152 closed

[2017-09-05 18:08] #153 closed

[2017-09-05 18:08] #108 closed

[2017-09-07 02:33] dhmlau commented on #164
@reidlai, you're right.  This connector is under IBM International Program License Agreement (IPLA).
See https://github.com/strongloop/loopback-connector-mssql/blob/master/LICENSE.md for details.

If you'd like to purchase the license, it would be `API Connect for Node.js` license.  You can also see [this](https://www.ibm.com/support/knowledgecenter/en/SSMNED_5.0.0/com.ibm.apic.overview.doc/overvi

[2017-09-11 20:29] #136 closed

[2017-09-14 18:21] creativekinetix commented on #42
tedious seems to have just merged in Windows-only support for this as well.

[2017-09-15 14:46] dhmlau commented on #164
@reidlai , we believe we've answered your question.  Closing this issue now.  If you have further question regarding this topic, feel free to reopen.  Thanks.

[2017-09-15 14:46] #164 closed

[2017-09-18 15:18] #157 closed

[2017-09-22 08:45] robbievandam commented on #121
Any update on this?
Currently the autoupdate is a no-go because of this unfortunately.

[2017-10-01 11:48] #158 closed

[2017-10-03 15:01] joostdebruijn opened #170 "New release?"
I did not have an concrete issue at this moment, but will there be a new release soon? There are a lot of interesting commits since the last release six months ago (especially the upgrade of the mssql dependency from 3.x to 4.x), which I would like to use. Let me know if I can do something to help. :smiley:

[2017-10-04 16:59] jrvboesch commented on #74
if I want them to be unique?

[2017-10-04 17:04] jrvboesch commented on #74
I need to make an index and specify to be unique, how can I do it?

[2017-10-05 17:56] dhmlau commented on #170
@joostdebruijn , thanks for the reminder.  `3.1.0` has just released.
Closing the issue now.  Thanks.

[2017-10-05 17:56] #170 closed

[2017-10-06 10:25] #161 closed

[2017-10-06 12:25] #160 closed

[2017-10-16 17:51] linktohack opened #171 "Duplicate column with belongsTo relation"
For some reasons if I have a `belongsTo` relation, the foreign key is also added to the column names list:

https://github.com/strongloop/loopback-connector-mssql/blob/04ac4859b786b853af87ffffcb3b91fa4a29596c/lib/mssql.js#L411

I was be able to make a dirty hack by removing duplicated columns from the list in `buildColumnNames` but I'm still looking for a proper fix.

[code]

[2017-10-16 20:53] jannyHou opened #172 "type BIGINT is ignored"
### Description

Test case https://github.com/strongloop/loopback-connector-mssql/blob/master/test/id.test.js#L172 fails due to:

query generated by `Model.create({id: 962744456683738, name: 'w1'},cb)` is converted to

[code]

But `param1` fails the mssql driver's validation since it should be type INT8 not INT4.

~Figure out what's the correct query.~ Verified with docker exec && sqlcmd, the quer

[2017-10-18 17:05] ajbeach2 commented on #53
This is STILL an issue "loopback-connector-mssql": "^3.1.0".

[2017-10-18 19:43] jannyHou commented on #172
function `getTypeByValue` in node-mssql doesn't detect type `BigInt`, see [code](https://github.com/patriksimek/node-mssql/blob/master/lib/base.js#L68)

So when adding `input` to `query`, it expects the caller to explicitly specify type `BigInt`, or any other number types except `Int` and `Float`, see [code](https://github.com/patriksimek/node-mssql/blob/master/lib/base.js#L1004-L1013)

A fix coul

[2017-10-19 18:33] jannyHou commented on #172
PR merged, close it.

[2017-10-19 18:33] #172 closed

[2017-11-24 19:52] #121 closed

[2017-11-27 18:38] #42 closed

[2017-12-12 23:57] ataft opened #176 "discoverModelDefinitions({views:false}) returns views anyways"
discoverModelDefinitions() always returns views, regardless of the {views:false} setting. This is due to the fact that buildQueryTables (https://github.com/strongloop/loopback-connector-mssql/blob/master/lib/discovery.js#L85) in discover.js queries INFORMATION_SCHEMA.tables without filtering for TABLE_TYPE<>'VIEW'.

If you use discoverModelDefinitions with {views:true}, then you get a duplicate li

[2017-12-12 23:59] ataft commented on #152
Agreed on the use of sys.tables over INFORMATION_SCHEMA.tables. As issue #176 points out, INFORMATION_SCHEMA.tables returns views as well, unless you filter them out...

[2017-12-13 13:13] robbievandam commented on #42
Any news/update on this would be appreciated.

[2017-12-14 10:43] robbievandam commented on #53
Fascinating how this lib is **NOT** MIT tbh..

[2017-12-15 04:29] xinbenlv commented on #54
+1

[2017-12-15 04:29] xinbenlv commented on #54
Please open this

[2017-12-29 18:29] #171 closed

[2018-02-08 23:33] Menshawi commented on #53
I have been having the same issue as well with the mssql connector and loopback. To overcome the issue, I added a custom operation hook to my own AccessToken model which has Loopback's AccessToken model as its base and inside this hook, I unset the id attribute.

my AccessToken model configuration file looks like this
[code]
Now whenever an accessToken gets generated, right before its saved, the i

[2018-02-20 05:45] Unarine opened #177 "loopback-connector-mssql windows authentication"
Hi,
Does loopback allow for windows authentication when using the mssql connector? If so, how can I achieve this?

[2018-02-23 20:23] reajuria opened #178 "Schema Discovery Error"
loopback logs an error when I try to discover model properties on a Database with collation `SQL_Latin1_General_CP1_CS_AS`.

## Error Shown
[code]

[2018-02-24 19:28] Narrator opened #180 "Autoupdate error: index or statistics already exists on table"
I get the following message whenever I run autoupdate:

`"error":{"message":"The operation failed because an index or statistics with name 'principalId_NONCLUSTERED_ASC_idx' already exists on table 'dbo.RoleMapping'.","stack":"RequestError: The operation failed because an index or statistics with name 'principalId_NONCLUSTERED_ASC_idx' already exists on table 'dbo.RoleMapping'
`
The table name doe

[2018-02-25 01:19] #176 closed

[2018-03-01 05:46] vedakp commented on #53
@jaideepdas you can change ID datatype to varchar(500).
i changed my ID (pk,uniqueidenterfier) to id(varchar(500)) in database and its working fine now

[2018-03-05 20:24] jrvboesch opened #181 "Incorrect syntax near 'index'."
Error: Incorrect syntax near 'index'. If this is intended as a part of a table hint, A WITH keyword and parenthesis are now required. See SQL Server Books Online for proper syntax.

# Description

Error occurs after it runs autoupdate(); a table has an index in DB.

# Expected result

Updated database.

[2018-03-29 18:59] jacko commented on #177
The same issue, is there any solution ?

[2018-04-13 13:11] Unarine commented on #177
So far none that I've seen

[2018-05-07 02:11] #178 closed

[2018-05-09 18:50] jannyHou commented on #177
@Unarine loopback-connector-mssql is using nodejs driver `require('mssql')`, but the windows authentication is only supported in another driver `require('mssql/msnodesqlv8')`
see https://github.com/tediousjs/node-mssql#microsoft--contributors-node-v8-driver-for-nodejs-for-sql-server

I am not sure what is the compatibility between those two drivers...and how much effort we need to do a driver swit

[2018-05-09 20:35] #180 closed

[2018-05-18 21:36] #181 closed

[2018-06-11 04:14] j-franco-applaudo opened #183 "MSSQL Decimal Type Parameter Issue"
MSSQL Fields that have a decimal type get extra decimals after an update or create. For instance, if you want to insert in a field named `position` that is `decimal(18,11)` a value of `0.90` you will get a number like `0.900000002212` in your database.

After trying to determinate if the issue was the database or the connector. I found out that the logic to generate the params use `mssql.Real` whe

[2018-06-24 21:11] chachora opened #184 "tedious type deprecation messages in console"
Since **mssql** package was updated to v4.x deprecation messages are logged in console:

[2018-06-25 15:46] RAlhawash opened #185 "query the table using rowversion"
Hi There, i am working on an existing database, some tables have rowversion(timestamp) in them.
i can see how it's mapped to a node buffer. but the question is 1) how do i pass rowversion value in a where clause in loopback?  i can pass the serialized JSON {"rowversion": {"gt":"serialized buffer"}}. in the documentation it shows "gt" can't be used for anything. most mssql datatypes are straightfor

[2018-07-23 13:43] jannyHou commented on #177
See issue https://github.com/tediousjs/tedious/issues/246#issuecomment-131417555 connecting using windows authentication can work by modifying the datasources.json within the LoopBack application to include the "domain" attribute.  Something like this:
"myds": {
    "connector": "mssql",
    "host": "company.com",
    "database": "demo",
    "domain": "DOMAIN_NAME_CAPITALIZED_AND_NOT_FQDM",
    "s

[2018-08-01 23:47] j-franco-applaudo commented on #183
Hi @raymondfeng, Do you know if there is a workaround?. So far we are trying to use this connector in a production project, but this issue is a big blocker.

[2018-08-02 23:49] fsrodrig commented on #50
Any news on this issue?

It doesnt matters if there are differences between the model and de db. `isActual` always returns true.

[2018-08-07 17:37] #177 closed

[2018-08-13 11:34] regevbr opened #191 "AutoUpdate needs to have order when executing index related operations"
# Description/Steps to reproduce

Auto update generates ordered statements on indexes, so that it will drop the existing index and recreate it.
Because of the async execution of all the statements, the add index can run before the drop index which causes the update to fail.

# Expected result

index related operations while updating should be done in a dependent matter and only after all coulmns w

[2018-08-29 16:36] mjmgooch commented on #53
I have the same problem! Changing your column type to varchar(500) does work but doesnt feel like a proper fix. if it helps the code I used is below, you may get an error in relation to deleting a PK.

`ALTER TABLE AccessToken DROP COLUMN id
ALTER TABLE AccessToken ADD id nvarchar(500)`

[2018-10-18 15:25] lolocr opened #194 "Loopback 4 relations compatibility"
I'm using loopback-connector-mssql with Loppback 4 version. When I have needed to use the relations with my models (belongsTo or Hasmany), I have the next error:

[code]
Exists any restriction to use the Loopback 4 relations with the mssql connector?
Thank you in advance.

[2018-10-25 02:18] dhmlau commented on #194
@lolocr , sorry about the late reply.  Thanks for your sample repo.  Since I don't have the right database schema, so I've tried to reproduce using in-memory database and it seems to be working fine.  Before going into further, may I ask a trivial question: The error says `Invalid column name 'RtvTransArticles'`.  Do you actually have this column name in the specified table?

[2018-10-25 07:17] lolocr commented on #194
@dhmlau, thank you for reply. I don't have any column with this name. I need it? I have tried to use the the name of the column (transaction_id) in the relation, but the problem continues.

[2018-10-25 17:26] themadrix opened #195 "applyPagination is missing the ORDER BY clause when supportsOffsetFetch"
When `supportsOffsetFetch` is true, the resulting statement is missing the ORDER BY clause, according to https://technet.microsoft.com/en-us/library/gg699618.aspx , which results into `Invalid usage of the option NEXT in the FETCH statement`
ApplyPagination should make sure an ORDER BY clause is added when `supportsOffsetFetch` is true, before adding the limit clause.

[2018-10-29 17:31] aroper23 commented on #183
I encountered the same issue with data being lost writing to a Decimal(15, 2) column. My solution was to update the executeSQL code in mssql.js to use the type mssql.Float instead of mssql.Real since it stores more information.

Perhaps one of the project contributors could update this in the project code? For now, I added a boot script to my project to patch the definition of executeSQL as the ap

[2018-11-10 03:53] dhmlau commented on #194
@lolocr , sorry about the late response.  If you use the column name that actually exists, do you get another set of errors?

[2018-11-14 12:56] phiricharles101 opened #197 "loopback 4 model options not working for mssql"
# Description/Steps to reproduce

# Link to reproduction sandbox

# Expected result

# Additional information

[2018-11-14 13:00] phiricharles101 commented on #197
Hi,

I am trying to connect to a mssql db and specify the table name. I have tried the below and still not working.

@model({
    name: 'VehicleModel',
        options: {
            mssql: {
                schema: 'dbo',
                table: 'Vehicles_VehicleRecord'
            }
        }

})
export class VehicleModel extends Entity {
	@property({
		type: 'number',
		id: true,
		required: tru

[2018-12-20 13:05] Pollocks01 opened #198 "MsSQL not exported in loopback-connector-mssql"
loopback-connector-mssql@3.3.0

There is no exports.MsSQL = MsSQL

... as there is, for example, in loopback-connector-oracle@4.1.2

I want to add custom connector methods that are db specific. I can easily extend the oracle but not the mssql connector.

[2018-12-20 13:57] Pollocks01 commented on #198
Looks like it's the same with looks like it's the same with loopback-connector-postgresql@3.5.0 so maybe the oracle connector is the exception here.

IMO, it'd be helpful if the connector is exported so that we can extend the functionality.

[2018-12-20 16:18] dhmlau commented on #198
@b-admike @jannyHou, looks like we export `Oracle` in https://github.com/strongloop/loopback-connector-oracle/blob/master/lib/oracle.js#L105. Do you think it makes sense to export it?

If so, @Pollocks01, would you be interested in submitting a PR?

[2018-12-20 17:54] Pollocks01 commented on #198
@dhmlau I've never done that before and I suspect that I have a lot more changes required since it's looking like, for example, loopback-connector-mssql doesn't establish a connection pool - it creates a new connection for each SQL execution (except you're in a transaction, in which case it uses a single connection).

I wish I knew more about the GIT process: my employer's still on SVN, trying to

[2018-12-20 18:01] jannyHou commented on #198
@dhmlau It makes sense to me to export it for a better extensibility.
cc @raymondfeng in case there is any security concern.

[2018-12-20 19:37] lolocr commented on #194
@dhmlau, finally I've been able to configure the relation between two models without errors. Now, when I try to include the relation in a query using the filter object, the framework shows this error: `Relation "operatorGroup" is not defined in Operadores model`. I've found that the error is in `loopback-datasource-juggler/lib/include.js` Can I use the 'include' filter value in my queries?

[2018-12-20 20:00] dhmlau commented on #198
@Pollocks01, let's wait for the response from @raymondfeng (who is on vacation currently), in case there's a particular reason not to export.

In the meanwhile, we've updated our instruction to submit PR in our docs: https://loopback.io/doc/en/contrib/code-contrib.html#submitting-a-pull-request.  There's a pretty good article for first-time contributor: https://www.nearform.com/blog/getting-into-o

[2019-01-04 13:20] axadn opened #199 "Incorrect Table Relations Discovery"
Table discovery methods currently report incorrect information for foreign key constraints.
This causes trouble using methods like datasource.discoverForeignKeys, datasource.discoverAndBuildModels, etc.

The problem is that the table with the foreign key and the table with the primary key are reported to be this same table.

[2019-01-14 14:41] dhmlau commented on #198
@Pollocks01, sorry about the late reply.  Talked to @raymondfeng , he's good with exporting `MsSQL`.  Would you like to submit a PR?  Thanks!

[2019-01-14 14:44] dhmlau commented on #199
Marking it as `community contribution` because @axadn has created PR #201 .

[2019-01-14 14:50] dhmlau commented on #197
@phiricharles101 , it should be something like:
[code]

For details, please see details in this GitHub issue: https://github.com/strongloop/loopback-next/issues/2134, and continue discussion there.

[2019-01-14 14:58] dhmlau commented on #194
@lolocr, `include` filter is not currently supported.  Please see our spike in https://github.com/strongloop/loopback-next/pull/2124, and the original issue: https://github.com/strongloop/loopback-next/issues/1352.

If you agree, I'd like to continue the discussion in https://github.com/strongloop/loopback-next/issues/1352.  Thanks.

[2019-01-14 16:02] lolocr commented on #194
Oks @dhmlau.
Thanks.

[2019-01-14 16:02] #194 closed

[2019-01-14 17:09] phiricharles101 commented on #197
@dhmlau
Thank you so much,
I was also missing @loopback/repository-json-schema in the package.json

[2019-01-15 02:51] dhmlau commented on #197
@phiricharles101 , is this issue good to close then? Thanks.

[2019-01-15 05:25] phiricharles101 commented on #197
Yes it is. Thanks

[2019-01-15 05:25] #197 closed

[2019-01-18 22:46] JuliaRakitina commented on #194
I spent half of the day to find it out( it does not work.

How can I do a direct query?

[2019-01-19 16:48] lolocr commented on #194
Hello @JuliaRakitina,
What's your issue? I recommend you to update the loopback libraries to the latest version because solve some issues (hasMany relations for example). In my case, the problem was in the definition of the relation. I needed to declare de 'keyTo' value. In my case I had a User model hasMany UserVisibility (in this model had the property loginId, that is related to 'id' of the Use

[2019-02-13 14:36] javiersuazomatus commented on #180
I have the same problem. Could someone solve it?

my model definition:

[code]

[2019-03-06 16:29] dhmlau commented on #42
Please see comment in here: https://github.com/strongloop/loopback-connector-mssql/issues/177#issuecomment-407062308

[2019-03-15 05:58] Aditya-Thakur commented on #177
I have tried all the things still getting the error:....
hiding the username for obvious reasons
"error": {
    "statusCode": 500,
    "name": "ConnectionError",
    "message": "Login failed for user '*******\\Aditya*****'.",
    "code": "ELOGIN",
    "originalError": {
      "message": "Login failed for user '*******\\Aditya*****''.",
      "code": "ELOGIN"
    },

here's the code in datasources.

[2019-03-30 11:30] PERUMALLU opened #202 "Relations not working in loopback 4 using mysql database How to solve it"
# Description/Steps to reproduce

# Link to reproduction sandbox

# Expected result

# Additional information

[2019-04-01 23:59] dhmlau commented on #202
@PERUMALLU , could you please elaborate on the issue you're having?
In case you're looking for database setup, I've created a PR on the steps I went through for postgresql. https://github.com/strongloop/loopback-next/pull/2448.  Hope it helps.

[2019-04-11 19:17] dhmlau commented on #202
@PERUMALLU  ^^

[2019-04-17 13:29] dhmlau commented on #194
@AnanthGopal, we're currently on adding support for inclusion of related models.  Please see this epic: https://github.com/strongloop/loopback-next/issues/1352. Thanks.

[2019-04-17 17:14] AnanthGopal commented on #194
Hi @JuliaRakitina

You mentioned, "currently using workaround", Can you explain about that, I got the same issue. Now I am using the Stored procedure to resolve that issue.

[2019-04-17 19:22] JuliaRakitina commented on #194
Hi @AnanthGopal

Actually same :) I am using direct SQL query

[2019-04-18 19:51] dhmlau commented on #202
Closing due to inactivity

[2019-04-18 19:51] #202 closed

[2019-05-01 18:47] ylandau commented on #24
in mysql it was fixed. see: https://github.com/strongloop/loopback-connector-mysql/issues/149,
can it be fixed in mssql?

thanks!

[2019-05-20 08:39] bajtos opened #204 "Run shared tests from both v3 and v4 of juggler"
At the moment, our connectors are installing juggler 3.x to run the test suite. When we make a change to juggler@3, cis-jenkins detects downstream dependency and triggers CI build of connectors with the modified juggler version. When we make a change to juggler's master, no downstream builds are triggered.

In the past, we were maintaining multiple branches to test connectors against different jug

[2019-07-11 14:00] aroper23 commented on #183
Hi, @dhmlau. Has consideration been given to integrating the patch to executeSQL in mssql.js I mentioned on 29 Oct 2018 to resolve the data loss issue with Decimal columns?

[2019-07-15 15:35] #204 closed

[2019-07-16 13:03] letynsoft opened #210 "Custom Column/Property Names"
# Description/Steps to reproduce

Hi,
Is there any way how to specify a custom column name using the @property decorator with loopback4?

I have following property
[code]
But the mssql connector (migrate script) doesn't seem to support this (is attemping to create duplicate columns, ...). eg:

I have wrote a little quick-fix (rewriting modelDefinition when define() is called), but that's ugly

# E

[2019-07-16 19:48] agnes512 commented on #12
please check [#3343](https://github.com/strongloop/loopback-next/issues/3343)

[2019-07-23 19:26] dhmlau commented on #199
not stale.

[2019-07-25 01:15] #184 closed

[2019-07-25 01:15] #185 closed

[2019-07-25 01:15] #191 closed

[2019-07-25 01:15] #195 closed

[2019-09-23 14:54] #183 closed

[2019-10-05 20:52] #199 closed

[2019-11-14 04:54] metkuten opened #215 "Transaction not working in Loopback 4."
Facing issue in loopback 4. Transaction is not working.
i am extending repository with DefaultTransactionalRepository.

i am writing below code inside controller.

 1. const addressTransaction = await this.addressRepo.beginTransaction();
 2. const address = await this.addressRepo.create(addressObj);
 3. addressTransaction.rollback()

Issue is, record which i created at line 2 is not getting revert

[2019-11-14 06:16] raymondfeng commented on #215
You need to explicitly pass the transaction into `create`.

[code]

See https://loopback.io/doc/en/lb4/Using-database-transactions.html#perform-operations-in-a-transaction

[2019-11-14 06:16] #215 closed

[2019-11-14 10:26] joostdebruijn opened #216 "New release?"
Is it possible to release a new version including my latest commit upgrading the mssql-driver to 6.x? It will solve an issue for our team.

[2019-11-14 20:38] dhmlau commented on #216
sure. let me do it now. Will let you know when it's done.

[2019-11-14 20:40] dhmlau commented on #216
@joostdebruijn, v3.6.0 has been released.

[2019-11-14 20:40] #216 closed

[2019-11-15 21:14] metkuten commented on #215
@raymondfeng : still facing issue, i have implemented transaction as mentioned above. **but sometime its returning undefined after calling beginTransaction instead of Promise<Transaction>.**

getting below error in console. Kindly help on this.

2019-11-15T21:00:52.747Z [founders-mw-dev-699fbb8489-z6k46] error: {"APPLICATION_NAME":"FOUNDERS_SVC","MESSAGE":"uncaughtException: cb is not a function\n

[2019-11-15 21:20] metkuten opened #218 "Loopback 4 Transaction returning undefined."
@raymondfeng , @bajtos
I have implemented Repository which is extending DefaultTransactionalRepository.

Issue is, for **.beginTransaction();** getting undefined instead of Promise<Transaction>. function is immediately returning undefined

Using below NPM package
"@loopback/authentication": "2.1.4",
"@loopback/boot": "1.5.5",
"@loopback/context": "1.22.1",
"@loopback/core": "1.10.1",
"@loopback/op

[2019-11-18 21:27] dhmlau commented on #218
@metkuten, to help us to reproduce the problem, could you please provide a small application and steps to reproduce? Thanks. https://loopback.io/doc/en/contrib/Reporting-issues.html#loopback-4x-bugs

[2019-11-18 22:35] metkuten commented on #218
@dhmlau : below is the code snapshot, unfortunately i work for a bank and its hard to provide more code details. but i am sure, i am following details provided on loopback4 tutorials(model, transaction repository, passing transaction object into repository call(create),etc).

all other insert, get quires works perfectly fine.
code snapshot

1. export class PersonRepository extends DefaultTransacti

[2019-11-20 03:46] dhmlau commented on #218
@metkuten, I have the following test code and it seems to be working:
[code]

I'm using https://github.com/strongloop/loopback-next/blob/master/packages/repository-tests/src/crud/transactions.suite.ts as reference. Hope it helps.

[2019-11-20 04:14] metkuten commented on #218
@dhmlau : as i mentioned above , i am exactly implementing like this. and it's throwing an exception. look like call back "cb" is not working in the code.

[2019-11-20 20:23] dhmlau commented on #218
@strongloop/loopback-maintainers, might need your help here.  It seems like @metkuten and I are doing the same thing to call `beginTransaction` (my test code is [here](https://github.com/strongloop/loopback-connector-mssql/issues/218#issuecomment-555824463)), but I wasn't able to reproduce the problem.

[2020-01-05 19:06] pumppi commented on #180
I have the same issue? How you solved?

[2020-01-23 18:21] PBGL opened #222 "EPERM on version 3.7.0"
## Steps to reproduce

[code]

## Current Behavior

[code]

## Expected Behavior

I was expecting to install the package in my local project, I tried with -g too but I had the same problem. The last version didn't show this problem, the installation with **loopback-connector-mssql@3.6.0** works.

## Additional information

[code]

[2020-01-23 18:23] #222 closed

[2020-01-23 18:24] Dayof opened #223 "EPERM in version 3.7.0, error related to adal node package"
## Steps to reproduce

[code]

## Current Behavior

[code]

## Expected Behavior

I was expecting to install the package in my local project, I tried with -g too but I had the same problem. The last version didn't show this problem, the installation with **loopback-connector-mssql@3.6.0** works.

## Additional information

[code]

[2020-02-02 21:42] #218 closed

[2020-02-22 14:37] achrinza commented on #223
Does `npm ci` resolve the issue?

[2020-03-03 18:08] nsabourin commented on #223
@achrinza I have the same issue and it doesn't resolve it

[2020-03-03 22:01] LuiguiBalarezo commented on #223
I ALSO HAVE THE SAME PROBLEM :v

npm WARN npm npm does not support Node.js v13.9.0
npm WARN npm You should probably upgrade to a newer version of node as we
npm WARN npm can't make any promises that npm will work with this version.
npm WARN npm Supported releases of Node.js are the latest release of 6, 8, 9, 10, 11, 12.
npm WARN npm You can find the latest version at https://nodejs.org/
npm WARN z

[2020-03-04 08:21] achrinza commented on #223
@nsabourin @LuiguiBalarezo Thanks for the feedback, we'll look into this where possible.

<details>
<summary>Disclaimer</summary>

I'm community contributor that doesn't speak on behalf of StrongLoop or its parent company.

[2020-03-04 10:15] stephaneerard commented on #223
Same here

[code]

[2020-03-04 10:29] achrinza commented on #223
@stephaneerard Thanks for providing some logs

- Error replicateable this on Windows,
- Ubuntu 180.04 LTS (via WSLv1) works fine (no error).

/cc @bajtos @raymondfeng

[2020-03-04 10:41] stephaneerard commented on #223
Running npm install loopback-connector-mssql@3.6.0 works fine

[2020-03-04 14:37] nsabourin commented on #223
@achrinza
When I add manually version 3.6.0 in package.json and run `npm install` it doesn't work (same EPERM error as 3.7.0). But, `npm install loopback-connector-mssql@3.6.0` work's fine as @stephaneerard mentioned. Maybe this detail could help to solve the problem ?

[2020-03-04 15:24] achrinza commented on #223
@nsabourin Thanks for the additional info; I was able to replicate the issue from my end.

Unfortunately I haven't been able to find a fix for the issue yet.

In the mean time, there's 3 tested workarounds:

- Utilize Yarn 2
- Use a Non-Windows environment
- Downgrade package to `v3.6.0`

Regrettably these workarounds require some form of compromise.

I'll continue post any significant updates her

[2020-03-05 03:33] achrinza commented on #223
Another workaround is available:

- Pull from source with the `3.7.0` commit-ish

[code]

My previous comment above has been updated to reflect this.

[2020-03-05 03:40] achrinza commented on #223
I believe I have found the issue:

- In `3.7.0`, `node_modules` was [published to the NPM registry](https://registry.npmjs.org/loopback-connector-mssql/-/loopback-connector-mssql-3.7.0.tgz).
- In `3.6.0`, `node_modules` was [**not** published to the NPM registry](https://registry.npmjs.org/loopback-connector-mssql/-/loopback-connector-mssql-3.6.0.tgz).

/cc @raymondfeng

[2020-03-05 04:13] achrinza commented on #223
I was able to replicate the issue with a local install of the [`3.7.0` tarball from the NPM registry](https://registry.npmjs.org/loopback-connector-mssql/-/loopback-connector-mssql-3.7.0.tgz):

<details>
<summary>Error logs</summary>

[code]

</details>

I tried checking out this repo at commit-ish `063a7d`, and building the tarball with `npm pack`.

- Without running `npm install` beforehand, thi

[2020-03-05 13:44] bajtos commented on #223
Thank you @achrinza for investigating the issue! I suspect the problem was introduced by https://github.com/strongloop/loopback-connector-mssql/pull/205, where we added sub-packages to `deps` where `node_modules` folders are created during `npm install` time.

I think the fix is to add fix npm configuration so that `deps/juggler-{v3,v4}/node_modules` files are not published. In my experience, it's

[2020-03-05 15:18] bajtos commented on #223
If you look at loopback-connector-postgresql's `.gitignore` file, we have an entry to ignore all `node_modules` directories, see https://github.com/strongloop/loopback-connector-postgresql/blob/master/.gitignore

We use `slt-release` from https://github.com/strongloop/strong-tools to generate a changelog, create the release commit & tag, etc. This tool is creating an `.npmrc` file based on `.giti

[2020-03-05 15:23] bajtos commented on #223
Opened a PR to fix the problem, PTAL: https://github.com/strongloop/loopback-connector-mssql/pull/225

[2020-03-05 17:24] raymondfeng commented on #223
It might have something to do with https://github.com/strongloop/loopback-connector-mssql/blob/master/package.json#L46. We had this in the past as https://github.com/facebook/regenerator/tree/master/packages/regenerator-runtime was under a restrictive license and now it's under MIT. Let's remove the prepublish script to see if it helps.

[2020-03-05 17:25] raymondfeng commented on #223
BTW, we can use `npm pack` to verify if `node_modules` are included.

[2020-03-05 18:10] emonddr commented on #223
Correct, @bajtos mentions the steps in https://github.com/strongloop/loopback-connector-mssql/pull/225 . :)

[2020-03-06 08:15] achrinza commented on #223
See also #226

[2020-03-14 04:42] achrinza commented on #223
Root cause: https://github.com/npm/cli/issues/417

Should we close the issue now that the PR has been merged?

[2020-03-20 18:40] dhmlau commented on #223
Closing as resolved.
@Dayof, if you still encounter this issue, please feel free to open a new issue. Thanks!

cc @emonddr

[2020-03-20 18:40] #223 closed

[2020-03-20 21:45] Dayof commented on #223
Thank you for solving the issue ! @achrinza @dhmlau @bajtos @raymondfeng 🚀

[2020-04-07 16:57] ataft commented on #180
This is due to a bug in migration.js where it uses async.each instead of async.eachSeries. async.each has no order, so the index create was happening before the drop. I've created this PR to fix the issue:
https://github.com/strongloop/loopback-connector-mssql/pull/228

[2020-04-30 17:00] ataft opened #229 "executeSql should return mssql results"
As you can see [here](https://github.com/strongloop/loopback-connector-mssql/blob/master/lib/mssql.js#L128), `executeSql()` only returns `data.recordset`. This effectively neuters the connector, not allowing it to return the richer functionality of the mssql connector, namely things like `rowsAffected`.

Would there be interest in allowing an option for `returnRawData`? I'd make the PR and clearly

[2020-05-06 01:45] dhmlau commented on #229
@ataft, thanks for the suggestion. Your proposal sounds reasonable to me. It's important for us to keep the backward compatibility. @jannyHou, what do you think? Thanks.

[2020-05-06 20:20] jannyHou commented on #229
@ataft Thank you for the suggestion and investigation made. 👍

And we really appreciate your help on the the code contribution 👍, will review it when ready.
Changing the returned data of `executeSQL` would affect all CRUD queries, if you only want to configure the result of a native query, I think you need to make the `option` turned off by default. And better disable it for the built-in CRUD quer

[2020-05-07 23:44] ataft commented on #229
Maybe the term "raw data" is confusing. I mean return whatever object the mssql library returns. The use case is to get `rowsAffected` or any of the other results:
https://github.com/tediousjs/node-mssql#execute-procedure-callback

Yes, it would clearly be off by default.

[2020-07-04 16:26] heroca60 commented on #218
Why loopback4 in the transactions retains and does not release the auto incremental id despite using await tx.rollback () when the transaction fails.
My repositories inherit from Default Transactional Repository as indicated in the official documentation

[2020-07-25 04:17] #229 closed

[2020-12-16 18:18] llhilton commented on #24
I've been wrestling with this very issue. Sad to see how long it's been a problem. I've got a working version of a fix on my local that just involves having TZ and USE_UTC present in process.env. Wondering if a PR would be of interest. I didn't see anything in the tests that specifically deals with this issue. (Though I wasn't able to get the Docker container running so I couldn't see if this chan

[2020-12-22 10:04] wdrdres3qew5ts21 opened #234 "Loopback 4 can not parsing javascript Date Object to native SQL statement which require Date parameter"
## Steps to reproduce
1. Using Loopback 4 with MS-SQL 2008 Database
2. Execute Store Procedure which require Datetime parameter
3. Error with using params for passing parameter (@param1, @param2, @param3...) to call Store Procedure
4. Error with usinh hardcode passing Date String format to call Store Procedure
4. Error  failed with status code 500. RequestError: Conversion failed when converting d

[2020-12-22 10:25] wdrdres3qew5ts21 commented on #234
Fixed !!! You may need to using "-" Dash instead of "/" slash !
When I change from slash to dash it working :)

[2020-12-22 10:25] #234 closed

[2021-10-27 13:30] Winnetu opened #238 "migrate script not supports custom column names"
mssql connector migrate script not supports custom column names.

## Steps to reproduce

`  @property({
    type: 'string',
    mssql: {
      columnName: 'CustomErrorType'
    },
  })
  errorType: string;`

## Current Behavior

Error: Column names in each table must be unique. Column name 'ErrorType' in table 'dbo.ErrorCodes' is specified more than once.

## Expected Behavior

To migrate schema c

[2021-11-24 19:51] mahesh-uma opened #239 "Having CVE in the current version. can you please update to latest version of mssql and loopback-connector"

[2021-11-25 00:52] dhmlau commented on #239
@mahesh-uma, if there's a suggested fix in the CVE, would you like to submit a PR? Thanks.

[2021-11-29 18:41] #239 closed

[2021-12-07 03:59] marcosluna commented on #87
Any news about this issue, still happens on loopback 4

[2022-01-03 15:02] marcosluna commented on #87
hello, any progress on this issue?

[2022-08-23 05:20] rasyhad opened #248 "Like operator not working when trying to fetch stringify array of objects or object"
Have tried to search for similar issue, but could not find any.

Basically, I am trying to use `like` operator in `loopback4` `filter` for columns that store `stringified` array of objects or just an object.

Because array of objects and object are stored as a string, you would normally use the `like` operator to find value in the string.

I am not sure if its a bug, can someone please help me on